<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../assets/img/icon.png">
        <title>Le Chat Noir</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,400&display=swap" rel="stylesheet">
	    
	    <link rel="stylesheet" href="../css/style.css">
	    <style>
	
	    </style>
    </head>

    <body>
        <header>
                <h3>Le Chat Noir</h3>
            <nav>
		    	<ul>
				    <li><a href="../index.html">Home</a></li>
				    <li><a href="productos.html">Productos</a></li>
				    <li><a href="ubicacion.html">Ubicación</a></li>
				    <li><a href="contacto.html">Contacto</a></li>
				    <li><a href="checkout.html">Carrito de Compras</a></li>
			    </ul>
		    </nav>
        </header>

        <td>
            <h3>Contacto</h3>
        </td>

            <article>
                <table>
                    <tr>
                        <td><img src="../assets/img/pan.jpg" width="100%"></a></td>
                    </tr>
                </table>
            </article>

        <section>
            <article>
                <form action="#">
                    <input type="text" placeholder="Tu nombre aquí"><br>
                    <label for="email"></label>Decinos tu Email:
                    <input type="email" placeholder="abc123@gmail.com" name="email"><br>
                    
                    <label for="Observaciones"></label> Observaciones:<br>
                    <textarea placeholder="Observaciones"></textarea>
                     <br>
                    <input type="number" placeholder="Decinos tu edad"><br>
                    <div><p>Elegí un producto:</p>
                        <div>Pan
                            <input type="radio" name="lado" value="pan">
                        </div>
                        <div>Pepinos
                            <input type="radio" name="lado" value="pepinos">
                        </div>
                    </div>
                    <p>Que plato te gusta mas?</p>
                    <select name="plato" id="letra"> 
                        <option value="X">Pizza</option>
                        <option value="Y">Omelette</option>
                        <option value="Z">Tostada Francesa</option>
                    </select>
                    <div>Queres recibir info sobre nosotros?
                    <input type="checkbox" name="acepta" value="1"></div>
                    <input type="submit" value="Envianos tu información">
                    <input type="reset" value="Reset">
                </form>
            </article>
        </section>

 

        <footer id="amor">
            <h3>LOGO</h3>
            <h3>RRSS</h3>
            <h3>REDES SOCIALES</h3>
        </footer>
    </body>
</html>