<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../assets/img/icon.png">
        <title>Le Chat Noir</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,400&display=swap" rel="stylesheet">
	    
	    <link rel="stylesheet" href="../css/style.css">
	    <style>
	
	    </style>
    </head>

    <body>
        <header>
                <h3>Le Chat Noir</h3>
            <nav>
		    	<ul>
				    <li><a href="../index.html">Home</a></li>
				    <li><a href="productos.html">Productos</a></li>
				    <li><a href="ubicacion.html">Ubicación</a></li>
				    <li><a href="contacto.html">Contacto</a></li>
				    <li><a href="checkout.html">Carrito de Compras</a></li>
			    </ul>
		    </nav>
        </header>

        <tr>
            <td>
                <h3>Ubicación</h3>
            </td>
        </tr>
        
        <section>
            <article>
                <table>
                    <tr>
                        <td><a href="https://instagram.com" target="_blank"><img src="../assets/img/frente.jpg" alt="pan" width="100%"></a></td>
                    </tr>
                   
                    <tr>
                        <td>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13139.596961075542!2d-58.4668155!3d-34.581416!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x355285f472be1653!2sL&#39;%C3%A9pi%20Boulangerie!5e0!3m2!1sen!2sar!4v1639604200958!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </td>
                    </tr>
                </table>
            </article>
        </section>

        <footer id="amor">
            <h3>LOGO</h3>
            <h3>RRSS</h3>
            <h3>REDES SOCIALES</h3>
        </footer>
    </body>
</html>